body {
  background-color: #2a4b75;
}

.App {
  text-align: center;
  color: white;
}

.answer-box {
  border: 2px solid #ff82ee;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  text-align: left;
  background-color: #2a4b75;
}

.answer-list {
  list-style: none;
}
